services:
  app:
    build: .
    container_name: laravel-app
    volumes:
      - .:/app
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - postgres
      - redis
    networks:
      - laravel_network

  web:
    image: nginx:alpine
    container_name: laravel-nginx
    ports:
      - "8080:80"
    volumes:
      - .:/app
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    depends_on:
      - app
    networks:
      - laravel_network

  postgres:
    image: postgres:18-alpine
    container_name: laravel-postgres
    environment:
      POSTGRES_DB: database
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-database}", "-U", "${POSTGRES_USER:-user}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data:rw
    networks:
      - laravel_network

  redis:
    image: redis:alpine
    container_name: laravel-redis
    ports:
      - "6379:6379"
    networks:
      - laravel_network

networks:
  laravel_network:

volumes:
  pgdata: